/* Body */
body {
    font-family: Lato, Arial, sans-serif;
}

.text-white {
    color: white;
}

.boder-bt {
    border-top: 2px solid #cbcdd9;
    border-bottom: 2px solid #cbcdd9;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    ;
}
.active{
    font-weight: bold;
}
/* Header */
.btn-color{
    color: #35bd49;
}
.text-accent-1 {
    color: #35bd49!important;
}

.charming-logo .charming-logo-icon {
    font-size: 30px;
    margin-right: 5px;
}
@media (min-width:992px) {
    .web-nav {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 70px
    }
    .web-nav-toggler {
        display: none
    }
}

@media (max-width:991px) {
    .web-nav {
        display: block;
        min-height: 96px
    }

    .web-nav header {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        -webkit-box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .05);
        box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .05);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        left: 0;
        min-height: 96px;
        padding: 0 24px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030
    }

    .web-nav.show {
        background: #353844;
        bottom: 0;
        left: 0;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030
    }

    .web-nav.show header {
        position: relative;
        width: 100%
    }
}

.web-nav-toggler {
    margin-left: auto;
    padding: 20px 0 20px 20px
}

.web-nav-toggler:hover {
    text-decoration: none
}

.web-nav-toggler .fa {
    font-size: 30px
}

@media (max-width:350px) {
    .web-nav-toggler .fa {
        font-size: 20px
    }
}

.web-nav-toggler .fa-close {
    display: none
}

.web-nav-toggler.open .fa-bars {
    display: none
}

.web-nav-toggler.open .fa-close {
    display: block
}

.web-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.web-nav-dropdown-menu .web-nav-item {
    border-left: 4px solid transparent;
    white-space: nowrap
}

.web-nav-dropdown-menu .web-nav-item.active {
    font-weight: 700
}
@media (max-width:991px) {
    .web-nav-list {
        background: #fff;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .11);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .11);
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: 24px
    }

    .web-nav-list.show {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .web-nav.show .web-nav-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .web-nav-list>.web-nav-dropdown {
        border-left: 4px solid transparent
    }

    .web-nav-list>.web-nav-dropdown.show {
        border-color: #35bd49
    }

    .web-nav-list>.web-nav-item {
        border-left: 4px solid transparent
    }
}

.web-nav-list a,
.web-nav-list a:active,
.web-nav-list a:focus,
.web-nav-list a:hover {
    color: #373a3c;
    text-decoration: none
}

.web-nav-list>.web-nav-dropdown>.web-nav-item,
.web-nav-list>.web-nav-item {
    position: relative
}



.web-nav-list>.web-nav-dropdown>.web-nav-item.active,
.web-nav-list>.web-nav-item.active {
    font-weight: 700
}

.web-nav-list .web-nav-dropdown.show>.web-nav-item {
    background: rgba(0, 0, 0, .06)
}
@media (min-width:992px) {

    .web-nav-list>.web-nav-dropdown>.web-nav-item,
    .web-nav-list>.web-nav-item {
        padding: 23px 10px
    }

    .web-nav-list>.web-nav-dropdown>.web-nav-item .fa.fa-chevron-right,
    .web-nav-list>.web-nav-item .fa.fa-chevron-right {
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .web-nav-list>.web-nav-dropdown>.web-nav-item:hover,
    .web-nav-list>.web-nav-item:hover {
        background: rgba(0, 0, 0, .06)
    }
}

@media (min-width:992px) and (min-width:992px) {

    .web-nav-light .web-nav-list>.web-nav-dropdown>.web-nav-item:hover,
    .web-nav-light .web-nav-list>.web-nav-item:hover {
        background: rgba(255, 255, 255, .1)
    }
}
@media (min-width:992px) {
    .web-nav-light .web-nav-list>.web-nav-dropdown.show>.web-nav-item {
        background: rgba(255, 255, 255, .1)
    }
}
@media (min-width:992px) {
    .web-nav-item {
        padding: 12px 24px
    }

    .web-nav-item:hover {
        background: #f0f0f4
    }
}
.web-nav-item {
    padding: 16px 24px
}



.web-nav-dropdown-menu .web-nav-item {
    border-left: 4px solid transparent;
    white-space: nowrap
}

.web-nav-dropdown-menu .web-nav-item.active {
    font-weight: 700
}

@media (min-width:992px) {
    .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #35bd49
    }
}

@media (min-width:992px) {
    .web-nav-dropdown-menu .web-nav-item .fa {
        margin-left: 20px;
        margin-right: -10px
    }
}

@media (max-width:991px) {
    .web-nav-dropdown-menu .web-nav-item {
        position: relative
    }
}

@media (max-width:991px) {
    .web-nav-dropdown-menu .web-nav-item {
        padding-left: 32px
    }

    .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-item {
        padding-left: 48px
    }

    .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-item {
        padding-left: 64px
    }

    .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-dropdown-menu .web-nav-item {
        padding-left: 80px
    }
}

.web-nav-dropdown.show>.web-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:991px) {
    .web-nav-dropdown.show>.web-nav-dropdown-toggle .fa.fa-chevron-right {
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

.web-nav-dropdown-toggle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.web-nav-dropdown-toggle .fa {
    color: #c5c5c5;
    font-size: 11px;
    margin-left: 8px
}

.web-nav-dropdown .web-nav-dropdown .web-nav-dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.web-nav-dropdown-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    z-index: 1030
}

@media (min-width:992px) {
    .web-nav-dropdown-menu {
        background: #fff;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        position: absolute
    }
}

.web-nav-highlight-primary .web-nav-list>.web-nav-dropdown.show {
    border-color: #2284fe
}

@media (min-width:992px) {
    .web-nav-highlight-primary .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #2284fe
    }
}

.web-nav-highlight-primary .web-nav-toggler {
    color: #2284fe
}

.web-nav-highlight-secondary .web-nav-list>.web-nav-dropdown.show {
    border-color: #78baf8
}

@media (min-width:992px) {
    .web-nav-highlight-secondary .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #78baf8
    }
}

.web-nav-highlight-secondary .web-nav-toggler {
    color: #78baf8
}

.web-nav-highlight-success .web-nav-list>.web-nav-dropdown.show {
    border-color: #35bd49
}

@media (min-width:992px) {
    .web-nav-highlight-success .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #35bd49
    }
}

.web-nav-highlight-success .web-nav-toggler {
    color: #35bd49
}

.web-nav-highlight-info .web-nav-list>.web-nav-dropdown.show {
    border-color: #5a7ec5
}

@media (min-width:992px) {
    .web-nav-highlight-info .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #5a7ec5
    }
}

.web-nav-highlight-info .web-nav-toggler {
    color: #5a7ec5
}

.web-nav-highlight-warning .web-nav-list>.web-nav-dropdown.show {
    border-color: #f0a249
}

@media (min-width:992px) {
    .web-nav-highlight-warning .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #f0a249
    }
}

.web-nav-highlight-warning .web-nav-toggler {
    color: #f0a249
}

.web-nav-highlight-danger .web-nav-list>.web-nav-dropdown.show {
    border-color: #fc2344
}

@media (min-width:992px) {
    .web-nav-highlight-danger .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #fc2344
    }
}

.web-nav-highlight-danger .web-nav-toggler {
    color: #fc2344
}

.web-nav-highlight-light .web-nav-list>.web-nav-dropdown.show {
    border-color: #e5e5e5
}

@media (min-width:992px) {
    .web-nav-highlight-light .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #e5e5e5
    }
}

.web-nav-highlight-light .web-nav-toggler {
    color: #e5e5e5
}

.web-nav-highlight-dark .web-nav-list>.web-nav-dropdown.show {
    border-color: #3b3b3b
}

@media (min-width:992px) {
    .web-nav-highlight-dark .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #3b3b3b
    }
}

.web-nav-highlight-dark .web-nav-toggler {
    color: #3b3b3b
}

.web-nav-highlight-accent-1 .web-nav-list>.web-nav-dropdown.show {
    border-color: #35bd49
}

@media (min-width:992px) {
    .web-nav-highlight-accent-1 .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #35bd49
    }
}

.web-nav-highlight-accent-1 .web-nav-toggler {
    color: #35bd49
}

.web-nav-highlight-accent-2 .web-nav-list>.web-nav-dropdown.show {
    border-color: #353844
}

@media (min-width:992px) {
    .web-nav-highlight-accent-2 .web-nav-dropdown-menu .web-nav-item:hover {
        border-color: #353844
    }
}

.web-nav-highlight-accent-2 .web-nav-toggler {
    color: #353844
}

@media (min-width:992px) {

    .web-nav-light .web-nav-list>.web-nav-dropdown>.web-nav-item,
    .web-nav-light .web-nav-list>.web-nav-item {
        color: #e5e5e5
    }
}
@media (min-width:992px) {
    .web-nav-light .charming-logo {
        color: #e5e5e5
    }

    .web-nav-light .charming-logo:hover {
        color: #e5e5e5
    }
}
.charming-logo .charming-logo-icon {
    font-size: 30px;
    margin-right: 5px
}

@media (max-width:350px) {
    .charming-logo {
        font-size: 1.25rem
    }

    .charming-logo .charming-logo-icon {
        font-size: 20px
    }
}
.charming-logo {
    color: #373a3c;
    display: block;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.44;
}

.charming-logo:active,
.charming-logo:focus,
.charming-logo:hover {
    color: #373a3c;
    text-decoration: none
}

#web-nav-mobile-indicator {
    display: none
}

@media (max-width:991px) {
    #web-nav-mobile-indicator {
        display: block
    }
}

@media (max-width: 991px) {

    .header .navbar-collapse span.fa-chevron-right {
        float: right;
        transform: rotate(0deg);
    }

    .header .navbar-collapse.collapse.show {
        background-color: white;
        margin-top: 55px;
        padding: 10px;
        z-index: 9999;
    }

    .nav-item .dropdown:hover {
        transform: rotate(90deg);
    }

    .list-icon {
        border: 0;
        border-left: 3px solid green !important;
    }

    .header {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: auto;
        margin-left: auto;
    }

}

/* Banner */
.charming-banner {
    background-image: url('../images/bg-images/charming-bg-elegant-xl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
    /* max-height: 600px; */
    /* min-height: 432px; */
    /* position: relative; */
    padding: 72px 0;
}

.content-banner {
    position: relative;
    top: 30%;
}

.content-banner h1,
.content-banner p {
    background-color: rgba(53, 56, 68, .65) !important;
    display: inline-block;
}

.content-banner h1 {
    /* margin-top: 12px; */
    font-size: 39px;
    font-weight: 500;
    line-height: 54px;
    padding: 0 8px;
}

.content-banner p {
    font-size: 20px;
    padding: 0 8px;
    margin: 0 0 12px;
    line-height: 30px;
    font-weight: 300;
}

.content-banner .row button {
    margin: 0 auto;
    color: #fff;
    background-color: #35bd49;
    border-color: #35bd49;
    padding: 9px 32px;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(39, 39, 39, .22), 0 1px 3px 0 rgba(0, 0, 0, .22);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(39, 39, 39, .22), 0 1px 3px 0 rgba(0, 0, 0, .22);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .07);
}

.content-banner .row button:hover {
    color: #fff;
    background-color: #2d9f3d;
    border-color: #2a953a;

}

@media (min-width: 992px) {
    .charming-banner {
        height: 600px;
        max-height: 600px;
        min-height: 432px;
    }

}

@media (max-width: 575.98px) {
    .charming-banner {
        background-image: url('../images/bg-images/charming-bg-elegant-xs.jpg');
        background-position: center;
        margin-top: -17px;
    }

    .charming-banner {
        padding: 0px;
    }
    .charming-banner .content-banner div.col-md-10 {
        margin-top:35px;
    }
}

/* Merits */
.charming-merits {
    background-color: #3d4052;
    color: #d8d9dd;
    padding: 48px 0;
}

.charming-merits span {
    font-size: 50px;
}

.charming-merits p {
    font-size: 16px;
    margin: 0 0 12px;
    font-family: Lato, Arial, sans-serif;
    line-height: 24px;
}

.charming-merits .merits-icon h5 {
    margin: 21px 0 8px;
    padding: 0 0 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: Lato, Arial, sans-serif;
}

.charming-merits .merits-icon {
    padding: 30px 40px;
    border-right: 1px solid #4c505c;
}

.charming-merits .merits-icon:last-child {
    border-right: 0;
}

@media (max-width: 991px) {
    .charming-merits .merits-icon {
        border-right: 0;
    }
}

/* testimonials */
.charming-testimonials {
    border-top: 2px solid #cbcdd9;
    padding: 48px 0;
}

.box {
    border: 1px solid gray;
    border-radius: 5px;
    border-top: 5px solid #239834;
}

.box-balloon-triangle {
    background: white;
    border: 1px solid gray;
    border-left: 0;
    border-top: 0;
    bottom: -11px;
    height: 20px;
    left: 4rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
}

.charming-testimonials .testimonials-header h2 {
    font-weight: 700;
}

.charming-testimonials .testimonials-header span {
    font-size: 20px;
}

.ballon-photo img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-left: 22px;
}

.ballon-photo {
    float: left;
    margin-right: 10px;
}

.ballon-author {
    margin-left: 20px;
}

.box-content {
    position: relative;
    padding: 20px 36px !important;
}

@media (min-width: 768px) {
    .box-content {
        padding: 20px 10px;
    }
}

/* charming-features */
.charming-features .container .col-md-5 {
    padding-left: 24px;
}

.charming-features h2 {
    font-weight: 700 !important;
}

.charming-features {
    padding: 96px 0;
}

/* footer */
footer {
    color: #d8d9dd;
    background-color: #353844;
    border-color: #4c505c;
}

.ftr-list {
    list-style: none;
    color: #d8d9dd;
    padding-left: 0;
    padding-top: 23px;
}

.ftr-list a {
    color: #d8d9dd;
}

.ftr-accent-2 .ftr-oneline {
    color: #e6e5fc;
}

.ftr-accent-2 .ftr-bt {
    border-color: #4c505c;
}

.ftr-bt {
    border-top: 1px solid #6b6b6b;
}

.ftr-oneline {
    padding: 1.5rem 0;
}

footer .col-xs-4 {
    margin-right: 20px;
}

.ftr-oneline a:link {
    color: #e6e5fc;
}

.ftr-accent-2 a,
.ftr-accent-2 a:hover,
.ftr-accent-2 a:link {
    color: #d8d9dd;
}

.ftr-columns {
    padding: 72px 15px;
}