/* Body */
body{
    font-family: Lato,Arial,sans-serif;
}
.text-white{
    color: white;
}
.boder-bt{
    border-top: 2px solid #cbcdd9;
    border-bottom: 2px solid #cbcdd9;
}
.img-fluid{
    max-width: 100%;
    height: auto;;
}
/* header */
.header{
    height: 70px;
}
.header.navbar-expand-lg{
    height: 70px;
    padding:15px 0;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.dropdown>.dropdown-toggle:active{
    pointer-events:none;
}

.charming-logo{
    color:#373a3c;
    display: block;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.44;
}
.charming-logo .charming-logo-icon{
    color: #35bd49;
    font-size: 30px;
    margin-right:5px;
}

.container nav.navbar-expand-lg header {
    width: 53%;
}

/* Banner */
.charming-banner{
    background-image: url('../images/bg-images/charming-bg-elegant-xl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
    /* max-height: 600px; */
    /* min-height: 432px; */
    /* position: relative; */
    padding:72px 0;
}
.content-banner{
    position: relative;
    top: 30%;
}
.content-banner h1, .content-banner p{
    background-color: rgba(53,56,68,.65)!important;
    display: inline-block;
}
.content-banner p{
    font-size: 20px
}
.content-banner .row button{
    margin: 0 auto;
    color: #fff;
    background-color: #35bd49;
    border-color: #35bd49;
}
@media (min-width: 992px){
    .charming-banner {
        height: 600px;
        max-height: 600px;
        min-height: 432px;
    }
}

/* Merits */
.charming-merits{
    background-color: #3d4052;
    color:#d8d9dd;
    padding: 48px 0;
}
.charming-merits span{
    font-size: 50px;
}
.charming-merits p{
    font-size: 15px;
}
.merits-icon{
    padding: 15px 40px ;
}
.charming-features{
    padding: 3.5rem 0;
}
/* testimonials */
.charming-testimonials{
    border-top: 2px solid gray;
    padding: 3.5rem 0; 
}
.box{
    border: 1px solid gray;
    border-radius: 10px;
    border-top: 5px solid green;
    padding: 1rem;
}
.box-balloon-triangle{
    background:white;
    border: 1px solid gray;
    border-left: 0;
    border-top: 0;
    bottom: -27px;
    height: 20px;
    left: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
}
.ballon-photo img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.ballon-photo{
    float: left;
    margin-right: 10px;
}
.ballon-author{
    margin-left: 20px;
}
.box-content{
    position: relative;
}
/* footer */
footer{
    color: #d8d9dd;
    background-color: #353844;
    border-color: #4c505c;
    padding: 3.5rem 0;
}
.ftr-list{
    list-style: none;
    color: #d8d9dd;
    padding-left: 0;
    padding-top: 20px;
}
.ftr-list a{
    color: #d8d9dd;
}
footer{
    font-size: 14px
}
footer .col-xs-4{
    margin-right: 20px;
}